body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: yellow;
}

html{
    padding-top: 60px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: greenyellow; 
    z-index: 1000;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 10px;
}

div {
    background-color: violet;
    border-radius: 15px;
    
}

.ejemplo {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #333;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 0%;
}


.ejemplo_border {
    border: 2px solid red;
    border-radius: 0%;
}


.ejemplo_border_sides {
    border-left: 5px solid green;
    border-right: 5px solid blue;
    border-top: 5px solid orange;
    border-bottom: 5px solid purple;
    border-radius: 0%;
}


.ejemplo_border_radius {
    border-radius: 15px;
    border: 2px solid #333;
}


.ejemplo_background_image {
    background-image: url('./gato.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    border-radius: 0%;
}


.ejemplo_padding {
    padding: 20px;
    border: 2px solid #333;
    border-radius: 0%;
}


.ejemplo_overflow {
    width: 150px;
    height: 50px;
    overflow: scroll;
    border: 2px solid #333;
    border-radius: 0%;
}


.ejemplo_display {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: lightcoral;
    border-radius: 0%;
}


.ejemplo_position {
    position: relative;
    top: 10px;
    left: 20px;
    border: 2px solid #333;
    border-radius: 0%;
}


.ejemplo_filter {
    filter: grayscale(100%);
    border: 2px solid #333;
    border-radius: 0%;
}