body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h1 {
    color: #ff006a;
    text-align: center;
}


.ejemplo {
    background-color: #aeaeae;
    padding: 10px;
    margin: 10px 0;
}